.single-sale {
	background-color: #fff;
	padding-top: 96px;
	padding-bottom: 60px;

	@include mq(992) {
		padding-top: 80px;
		padding-bottom: 140px;
	}
	@include mq(768) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.single-sale__title {
	color: #624696;
	text-align: center;
	font-weight: 500;
	@include fz(40, 26);
	line-height: 125%;

	margin-top: 0;
	margin-bottom: 60px;
}

.single-sale__img {
	display: block;
	object-fit: cover;
	border-radius: 20px;
	margin-bottom: 40px;

	@include mq(768) {
		height: 300px;
	}
}

.single-sale__content {
	max-width: 760px;
	margin-left: auto;
	margin-right: auto;

	& h2 {
		color: #624696;
		@include fz(32, 24);
		font-weight: 500;
		line-height: 125%;
	}
	& h3 {
		color: #624696;
		@include fz(28, 20);
		font-weight: 500;
		line-height: 125%;
	}
	& h4 {
		color: #624696;
		@include fz(24, 16);
		font-weight: 500;
		line-height: 125%;
	}

	& p:not([class]) {
		color: #303a4c;
		@include fz(18, 16);
		line-height: 150%;
	}

	& ol:not([class]) {
		padding-left: 0;
		list-style-position: inside;
	}

	& ul:not([class]) {
		padding-left: 0;
		list-style-type: none;

		& li {
			padding-left: 20px;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 6px;
				width: 10px;
				height: 10px;
				border-radius: 10px;
				background-color: #e17510;
			}
		}
	}

	& blockquote {
		background: rgba(241, 130, 26, 0.28);
		padding: 40px;
		border-radius: 20px;
		margin-left: 0;
		margin-top: 0;
		width: 100%;

		color: #624696;
		@include fz(26, 20);
		line-height: 125%;
		font-weight: 600;

		& :last-child {
			color: #303a4c;
			font-size: 14px;
			line-height: 19px;
			margin-bottom: 0;
			margin-top: 24px;
		}
	}
}

.single-sale__meta {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	justify-content: space-between;
	column-gap: 60px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 50px;

	border-top: 1px solid #d8d8d8;

	@include mq(768) {
		grid-template-columns: 100%;
		row-gap: 30px;
	}
}

.single-sale__tags {
	padding-left: 0;
	margin: 0;
	list-style-type: none;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 20px;
	row-gap: 10px;

	@include mq(576) {
		column-gap: 10px;
	}
}

.single-sale__tag-link {
	display: flex;
	padding: 6px 15px;
	border-radius: 100px;
	background-color: #f3f9fd;
	width: max-content;

	color: #1b2948;
	font-size: 12px;
	line-height: 16px;
}

.single-sale__socials {
	padding-left: 0;
	margin: 0;
	list-style-type: none;

	display: flex;
	justify-content: flex-end;
	column-gap: 15px;

	@include mq(768) {
		justify-content: flex-start;
	}
}

.single-sale__socials-link {
	display: flex;
}

.single-sale__navs {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: space-between;
	gap: 20px;

	& :nth-child(2) {
		justify-self: end;
	}
	& :nth-child(4) {
		justify-self: end;

		@include mq(576) {
			justify-self: start;
		}
	}
}

.single-sale__navs-link {
	color: #303a4c;
	font-size: 14px;
	line-height: 19px;

	&:hover {
		color: #e17510;
	}
}

.single-sale__post {
	display: flex;
	align-items: center;
	column-gap: 20px;
	max-width: 252px;

	@include mq(576) {
		grid-column: span 2;
		max-width: 100%;
	}
}

.single-sale__post-img {
	border-radius: 50%;
	object-fit: cover;
	background-color: #303a4c;
}

.single-sale__post-title {
	color: #303a4c;
	font-size: 14px;
	line-height: 19px;
}
