.last-posts {
	background-color: #fff;
	padding-top: 120px;
	padding-bottom: 170px;

	@include mq(1200) {
		padding-top: 100px;
		padding-bottom: 60px;
	}
	@include mq(992) {
		padding-top: 80px;
		padding-bottom: 140px;
	}
	@include mq(768) {
		padding-top: 60px;
		padding-bottom: 80px;
	}
}

.last-posts__list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 40px;

	@include mq(992) {
		grid-template-columns: 100%;
		row-gap: 40px;
	}
}

.last-post__link {
	display: grid;
}

.last-post__title {
	margin-top: 0;
	margin-bottom: 40px;

	color: #624696;
	font-size: 26px;
	line-height: 125%;
	font-weight: 600;

	@include mq(992) {
		margin-bottom: 20px;
	}
}

.last-post__img {
	object-fit: cover;
}

.last-post__excerpt {
	margin-top: 20px;
	margin-bottom: 20px;

	color: #1b2948;
	font-size: 15px;
	line-height: 147%;
}

.last-post__link-more {
	color: #e17510;
	font-size: 17px;
	line-height: 1.25;
	letter-spacing: 0.5px;

	margin-top: 0;
	margin-bottom: 0;
}
