.doctor-info {
	background-color: #f5f5f5;
	padding-top: 71px;
	padding-bottom: 66px;
}

.doctor-info__container {
	display: flex;

	@include mq(992) {
		display: block;
		text-align: center;
	}
}

.doctor-info__img {
	object-fit: cover;
}

.doctor-info__wrapper {
	padding-left: 147px;
	padding-top: 92px;
	display: flex;
	flex-direction: column;

	@include mq(1200) {
		padding-left: 80px;
		padding-top: 60px;
	}

	@include mq(992) {
		padding-left: 0;
	}

	@include mq(576) {
		padding-top: 50px;
	}
}

.doctor-info__title {
	margin-top: 0;
	margin-bottom: 30px;
	color: #624696;
	@include fz(32, 24);
	font-weight: 600;
	line-height: 125%;
	text-transform: uppercase;
	max-width: 456px;

	@include mq(992) {
		margin-left: auto;
		margin-right: auto;
	}
}

.doctor-info__text {
	margin-top: 0;
	color: #303a4c;
	font-size: 17px;
	line-height: 147%;
	margin-bottom: 20px;
}

.doctor-info__btn {
	font-weight: 600;
	@include fz(17, 14);
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #979797;
	border: none;
	border-radius: 10px;
	padding: 20px 40px;
	margin-top: auto;
	align-self: flex-start;
	cursor: pointer;

	@include mq(1200) {
		padding: 15px 35px;
	}
	@include mq(992) {
		align-self: center;
	}
	@include mq(576) {
		padding: 10px 20px;
	}
}
