.home-intro {
	padding-top: 60px;
	padding-bottom: 80px;
}

.home-intro__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 110px;

	@include mq(992) {
		grid-template-columns: 1fr;
		row-gap: 40px;
	}
}

.home-intro__title {
	font-weight: 500;
	@include fz(55, 32);
	line-height: 1;
	letter-spacing: 1px;

	color: #f1821a;

	margin-top: 0;
	margin-bottom: 67px;
}

.home-intro__desc {
	font-weight: 400;
	@include fz(20, 14);
	line-height: 120%;

	color: #616161;

	margin-top: 0;
	margin-bottom: 67px;
}

.home-intro_stats {
	grid-column: 2 / 3;

	@include mq(992) {
		grid-column: span 1;
	}
}

.home-intro__btn {
	width: 350px;
	display: block;
	margin-bottom: 25px;

	@include mq(576) {
		width: 280px;
		margin-bottom: 16px;
	}
}

.home-intro__slider {
	align-self: start;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	z-index: -1;
}

.home-intro__slider-stats {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;
	right: 0;
	bottom: 60px;
	z-index: 2;

	width: 192px;
	min-height: 192px;

	border-radius: 50%;
	background-color: #f1821a;
	padding: 20px;

	font-weight: 500;
	@include fz(15, 12);
	line-height: 147%;
	text-align: center;

	color: #ffffff;

	@include mq(576) {
		width: 142px;
		min-height: 142px;
	}
	@include mq(480) {
		width: 100px;
		min-height: 100px;
	}

	& span {
		font-weight: 600;
		@include fz(50, 20);
		line-height: 114%;
	}
}

.home-intro__slider-wrapper {
	padding-left: 0;
	margin: 0;
	list-style-type: none;
}

.home-intro__slider-item {
	position: relative;
	padding-top: 80px;
	padding-right: 192px;

	@include mq(576) {
		padding-right: 150px;
	}
	@include mq(480) {
		padding-right: 100px;
	}
}

.home-intro__slider-img {
	object-fit: cover;
	border-radius: 20px;

	&:nth-child(1) {
		position: relative;
		z-index: 1;
		width: 100%;

		@include mq(768) {
			height: 350px;
		}
		@include mq(576) {
			height: 300px;
		}
		@include mq(480) {
			// width: 200px;
		}
	}
	&:nth-child(2) {
		position: absolute;
		right: 0;
		top: 0;

		@include mq(768) {
			height: 250px;
		}
		@include mq(576) {
			height: 200px;
			width: 50%;
		}
	}
}

.home-intro_stats {
	padding-left: 0;
	margin-top: 30px;
	margin-bottom: 0;
	list-style-type: none;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 22px;

	@include mq(576) {
		column-gap: 10px;
	}
	@include mq(480) {
		grid-template-columns: 1fr;
	}
}

.home-intro__stats-item {
	display: flex;
	align-items: center;
	column-gap: 15px;

	font-weight: 500;
	font-size: 15px;
	line-height: 147%;
	color: #616161;

	& span {
		font-weight: 600;
		@include fz(50, 32);
		line-height: 114%;
		color: #f1821a;
	}
}
