.home-intro {
	padding-top: 60px;
	padding-bottom: 80px;
}

.home-intro__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 110px;
}

.home-intro__title {
	font-weight: 500;
	font-size: 55px;
	line-height: 1;
	letter-spacing: 1px;

	color: #f1821a;

	margin-top: 0;
	margin-bottom: 67px;
}

.home-intro__desc {
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;

	color: #616161;

	margin-top: 0;
	margin-bottom: 67px;
}

.home-intro_stats {
	grid-column: 2 / 3;
}

.home-intro__btn {
	width: 350px;
	display: block;
	margin-bottom: 25px;
}

.home-intro__slider {
	align-self: start;
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

.home-intro__slider-stats {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;
	right: 0;
	bottom: 60px;
	z-index: 2;

	width: 192px;
	min-height: 192px;

	border-radius: 50%;
	background-color: #f1821a;
	padding: 20px;

	font-weight: 500;
	font-size: 15px;
	line-height: 147%;
	text-align: center;

	color: #ffffff;

	& span {
		font-weight: 600;
		@include fz(50, 32);
		line-height: 114%;
	}
}

.home-intro__slider-wrapper {
	padding-left: 0;
	margin: 0;
	list-style-type: none;
}

.home-intro__slider-item {
	position: relative;
	padding-top: 80px;
	padding-right: 192px;
}

.home-intro__slider-img {
	object-fit: cover;
	border-radius: 20px;

	&:nth-child(1) {
		position: relative;
		z-index: 1;
	}
	&:nth-child(2) {
		position: absolute;
		right: 0;
		top: 0;
	}
}

.home-intro_stats {
	padding-left: 0;
	margin-top: 30px;
	margin-bottom: 0;
	list-style-type: none;

	display: flex;
	column-gap: 22px;
}

.home-intro__stats-item {
	display: flex;
	align-items: center;
	column-gap: 15px;

	font-weight: 500;
	font-size: 15px;
	line-height: 147%;
	color: #616161;

	& span {
		font-weight: 600;
		font-size: 50px;
		line-height: 114%;
		color: #f1821a;
	}
}
