.home-order {
	padding-top: 70px;
	padding-bottom: 160px;

	background-color: #614098;

	@include mq(1200) {
		padding-top: 60px;
		padding-bottom: 100px;
	}
	@include mq(992) {
		padding-bottom: 60px;
	}
	@include mq(768) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.home-order__container {
	display: grid;
	grid-template-columns: 480px 1fr;
	column-gap: 80px;
	align-items: center;

	@include mq(1200) {
		column-gap: 20px;
	}
	@include mq(992) {
		grid-template-columns: 100%;
		row-gap: 60px;
	}
}

.home-order__title {
	text-align: left;
	margin-bottom: 16px;
}

.home-order__subtitle {
	font-weight: 500;
	font-size: 17px;
	line-height: 129%;
	text-transform: uppercase;
	color: #ffffff;

	margin-top: 0;
	margin-bottom: 70px;
	max-width: 280px;

	@include mq(992) {
		margin-bottom: 40px;
	}
}

.home-order__text {
	font-size: 16px;
	line-height: 125%;

	color: #ffffff;
	margin: 0;
}

.home-order__form-wrapper {
	& form {
		max-width: 600px;
		background-color: #f3f9fd;
		display: grid;
		padding: 36px 60px 60px;
		border-radius: 10px;

		@include mq(1200) {
			padding: 24px 40px 40px;
		}
		@include mq(768) {
			padding: 24px;
			max-width: 100%;
		}
	}
}
