.home-services {
	padding-top: 60px;
	padding-bottom: 60px;

	@include mq(768) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.home-services__title {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.home-services__list {
	padding-left: 0;
	margin-top: 138px;
	margin-bottom: 0;
	list-style-type: none;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;

	@include mq(1200) {
		margin-top: 100px;
	}
	@include mq(992) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include mq(576) {
		grid-template-columns: auto;
	}
}

.services__item {
	display: grid;
}

.service__title {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	color: #624696;

	margin-top: 0;
	margin-bottom: 30px;
}

.service__img {
	object-fit: cover;
	border-radius: 10px;
	width: 100%;
}

.service__desc {
	font-size: 15px;
	line-height: 147%;
	color: #616161;
	margin-top: 20px;
	margin-bottom: 30px;
}

.service__details {
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin-top: auto;
}
