.about-service {
    background-color: #ffffff;
    padding-top: 136px;
    padding-bottom: 78px;
}

.about-service__container {
    display: grid;
    grid-template-columns: 1fr 360px;
    gap: 40px;
}

.about-service__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    color: #624696;
    margin-top: 51px;
    margin-bottom: 15px;
}

.about-service__symptoms {
    margin-top: 29px;
    margin-bottom: 20px;
}

.about-service__text {
    font-size: 17px;
    line-height: 147%;
    color: #303a4c;
    margin-top: 0;
    margin-bottom: 0;
}

.about-service__item {
    color: #616161;
}

.order-visit {
    text-align: center;
    padding-top: 69px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
}

.order-visit__img {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
}

.order-visit__text {
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 109px;
    position: relative;
    z-index: 1;
}

.order-visit__button {
    position: relative;
    z-index: 1;
    padding-left: 30px;
    padding-right: 30px;
}
