.doctor-service {
	background-color: #fff;
	padding-bottom: 30px;
	padding-top: 30px;
}

.doctor-service__slider-wrapper {
	padding-left: 0;
	margin: 0;
	list-style-type: none;
}

.doctor-service__wrapper {
	background-color: #f5f5f5;
	border-radius: 20px;
	position: relative;

	margin: 0;

	display: grid;
}

.doctor-service__img {
	width: 100%;
	object-fit: cover;
	object-position: top center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	@include mq(992) {
		height: 350px;
	}
	@include mq(768) {
		height: 500px;
	}
	@include mq(480) {
		height: 400px;
	}
}

.doctor-service__info {
	padding: 20px;
}

.doctor-service__title {
	margin-top: 0;
	margin-bottom: 32px;

	font-weight: 600;
	@include fz(32, 18);
	line-height: 125%;
	text-transform: uppercase;
	color: #624696;
}

.doctor-service__text {
	margin-top: 0;
	margin-bottom: 0;

	@include fz(17, 14);
	line-height: 147%;
	color: #303a4c;
}

.doctor-service__btn {
	font-weight: 600;
	@include fz(17, 14);
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #979797;
	border: none;
	border-radius: 10px;
	padding: 20px 40px;
	cursor: pointer;

	@include mq(1200) {
		padding: 15px 35px;
	}
	@include mq(576) {
		padding: 10px 20px;
	}
}

.doctor-service__slider-btn {
	position: absolute;
	bottom: 45%;
	z-index: 2;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;

	&[disabled] {
		opacity: 0.6;
		cursor: initial;
	}

	@include mq(640) {
		& svg {
			width: 60px;
			height: 60px;
		}
	}

	&--prev {
		left: 0;
	}

	&--next {
		right: 0;
	}
}
