.price-service {
    background-color: #fff;
    padding-top: 84px;
    padding-bottom: 115px;
    @include mq(1200) {
        padding-top: 60px;
        padding-bottom: 90px;
    }
    @include mq(768) {
        padding-bottom: 60px;
    }
    @include mq(576) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.price-service__designate {
    font-weight: 500;
    @include fz(40, 24);
    line-height: 142%;
    color: #624696;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    @include mq(1200) {
        margin-bottom: 30px;
    }
    @include mq(768) {
        margin-bottom: 20px;
    }
}

.price-service__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 54px;
    grid-auto-rows: minmax(0, auto);
    @include mq(1200) {
        column-gap: 35px;
    }
    @include mq(768) {
        column-gap: 20px;
    }
    @include mq(576) {
        grid-template-columns: 1fr;
    }
}

.price-service__item {
    list-style: none;
    margin-bottom: 21px;
    position: relative;
}

.price-service__title {
    display: block;
    background: #ebebeb;
    border-radius: 20px;
    padding-left: 34px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 20px;
    line-height: 285%;
    color: #624696;
    width: calc(100% + 2px);
    transform: translate(-1px, -1px);
    @include mq(576) {
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.price-service__title::after {
    content: "";
    display: block;
    background-color: #c3c3c3;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 31px;
    top: 22px;
    cursor: pointer;

    // @include mq(576) {
    //     top: 14px;
    //     right: 12px;
    // }
}

.price-service__title::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #ffffff;
    position: absolute;
    top: 35px;
    right: 39px;
    z-index: 1;

    // @include mq(576) {
    //     top: 27px;
    //     right: 20px;
    // }
}

.price-service__item[open] {
    border: 1px solid #d8d8d8;
    border-top: none;
    border-radius: 20px;
}

.price-service__item[open] > .price-service__title::before {
    border-bottom-color: #ffffff;
    border-top: none;
    top: 32px;

    // @include mq(576) {
    //     top: 18px;
    // }
}
.price-service__title::-webkit-details-marker {
    display: none;
}

.list {
    padding-left: 0;
    list-style: none;
    padding: 12px 10px 12px 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.list__item {
    background: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    padding-left: 37px;
    padding-right: 41px;
    @include mq(768) {
        flex-direction: column;
    }
}

.list__item:last-child {
    margin-bottom: 0;
}

.price-service__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 356%;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}
