.price-service {
    background-color: #fff;
    padding-top: 84px;
    padding-bottom: 115px;
}

.price-service__designate {
    font-weight: 500;
    font-size: 40px;
    line-height: 142%;
    color: #624696;
    margin-top: 0;
    text-align: center;
}

.price-service__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 54px;
    grid-auto-rows: minmax(0, auto);
}

.price-service__item {
    list-style: none;
    margin-bottom: 21px;
    position: relative;
}

.price-service__title {
    display: block;
    background: #ebebeb;
    border-radius: 20px;
    padding-left: 34px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 20px;
    line-height: 285%;
    color: #624696;
}

.price-service__title::after {
    content: "";
    display: block;
    background-color: #c3c3c3;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 31px;
    top: 22px;
    cursor: pointer;

    // @include mq(576) {
    //     top: 14px;
    //     right: 12px;
    // }
}

.price-service__title::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #ffffff;
    position: absolute;
    top: 35px;
    right: 39px;
    z-index: 1;

    // @include mq(576) {
    //     top: 27px;
    //     right: 20px;
    // }
}

.price-service__item[open] {
    border: 1px solid #d8d8d8;
    border-radius: 20px;
}

.price-service__item[open] > .price-service__title::before {
    border-bottom-color: #ffffff;
    border-top: none;
    top: 32px;

    // @include mq(576) {
    //     top: 18px;
    // }
}
.price-service__title::-webkit-details-marker {
    display: none;
}
