.reviews-service {
    background-color: #f3f9fd;
    padding-top: 62px;
    padding-bottom: 110px;
}

.reviews-service__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 114%;
    color: #624696;
    margin-top: 0;
    margin-bottom: 28px;
}

.reviews-service__slider-wrapper {
    list-style: none;
}

.reviews-service__slider-item {
    background-color: #fff;
    border-radius: 20px;
}

.reviews-service__slider-citation {
    margin: 0;
}
