.sale {
	padding-top: 100px;
	padding-bottom: 135px;
	background-color: #fff;

	@include mq(1200) {
		padding-top: 80px;
		padding-bottom: 100px;
	}
	@include mq(992) {
		padding-top: 60px;
		padding-bottom: 80px;
	}
	@include mq(768) {
		padding-top: 40px;
		padding-bottom: 60px;
	}
}

.sale__title {
	text-align: left;
	margin-bottom: 40px;
}

.sale__cats {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;

	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.sale__cat {
	color: #624696;
	font-size: 15px;
	font-weight: 500;
	line-height: 22px;

	&--current {
		color: #e17510;
		font-weight: 700;
	}
}

.sale__cat-btn {
	padding: 4px 6px;
	border: 1px solid currentColor;
	border-radius: 7px;
	background-color: transparent;
	color: inherit;
	cursor: pointer;
}

.sale__list {
	padding-left: 0;
	margin-top: 60px;
	margin-bottom: 0;
	list-style-type: none;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px 30px;

	@include mq(768) {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
	}
	@include mq(480) {
		grid-template-columns: 100%;
	}
}

.sale__item {
	display: flex;
	flex-direction: column;

	&--hidden {
		display: none;
	}
}

.sale__item-img {
	border-radius: 10px;
	object-fit: cover;
	width: 100%;
}

.sale__item-title {
	color: #624696;
	@include fz(26, 16);
	font-weight: 700;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 54px;

	&::before {
		content: "";
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;
		width: 19px;
		height: 21px;
		background-image: url(../images/svg/sticky-note.svg);
		background-size: contain;
		background-repeat: no-repeat;
	}
}

.sale__item-link {
	margin-top: auto;
	align-self: center;
}
