.error {
    padding-top: 15px;
    padding-bottom: 219px;
    text-align: center;
}

.error__title {
    color: #eec296;
    font-weight: 700;
    font-size: 200px;
    line-height: 160%;
    margin-top: 0;
    margin-bottom: 0;
}

.error__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    color: #624696;
    margin-top: 0;
    margin-bottom: 91px;
}

.error__button {
}
