.contacts {
    background-color: #f3f9fd;
    padding-top: 149px;
    padding-bottom: 190px;
    @include mq(1200) {
        padding-top: 100px;
        padding-bottom: 140px;
    }
    @include mq(768) {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    @include mq(576) {
        padding-top: 50px;
        padding-bottom: 70px;
    }
}

.contacts__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;

    @include mq(1200) {
        grid-template-columns: 1fr;
    }
}

.contacts__wrapper {
    padding-bottom: 36px;

    @include mq(1200) {
        padding-bottom: 60px;
    }
    @include mq(768) {
        padding-bottom: 40px;
    }
}

.contacts__title {
    text-align: start;
    font-weight: 400;
}

.contacts__text {
    margin-top: 0;
    margin-bottom: 53px;
    max-width: 460px;

    @include mq(1200) {
        max-width: 100%;
    }
    @include mq(768) {
        margin-bottom: 30px;
    }
}

.contacts__description {
    margin-top: 70px;
    max-width: 460px;
    margin-bottom: 0;

    @include mq(1200) {
        max-width: 100%;
    }
    @include mq(768) {
        margin-top: 40px;
    }
}

.contacts__form-wrapper {
    & form {
        max-width: 600px;
        border: 1px solid #dbe6ee;
        background: rgba(255, 255, 255, 0.8);
        padding: 60px 60px 65px 60px;
        display: grid;
        grid-template-columns: repeat(2, 225px);
        column-gap: 30px;

        & :first-child,
        & :nth-child(6),
        & :nth-child(7) {
            grid-column: span 2;

            @include mq(768) {
                grid-column: span 1;
            }
        }
        & :nth-child(7) {
            justify-self: center;
        }

        @include mq(1200) {
            margin-left: auto;
            margin-right: auto;
        }
        @include mq(768) {
            grid-template-columns: 100%;
        }
        @include mq(576) {
            padding: 20px 20px;
        }
    }
}

.contacts__form-title {
    @include fz(36, 24);
    font-style: normal;
    font-weight: 600;
    line-height: 111%;
    text-transform: uppercase;
    color: #624696;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.contacts__label {
    flex-direction: column;
    margin-bottom: 30px;
    @include mq(576) {
        margin-bottom: 15px;
    }
}

.contacts__label-text {
    padding-left: 20px;
    margin-bottom: 7px;
}
