.cta {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #e69d59;
    position: relative;
    @include mq(1200) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include mq(992) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.cta__container {
    display: grid;
    grid-template-columns: 480px 1fr;
    column-gap: 122px;
    row-gap: 12px;
    @include mq(1200) {
        grid-template-columns: 410px 1fr;
        column-gap: 50px;
        padding-left: 70px;
        row-gap: 8px;
    }
    @include mq(992) {
        grid-template-columns: 250px 1fr;
    }
    @include mq(768) {
        grid-template-columns: 1fr;
    }
    @include mq(576) {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.cta__title {
    font-weight: 500;
    @include fz(32, 18);
    line-height: 125%;
    color: #ffffff;
    margin-top: 0;
    @include mq(768) {
        order: 1;
        margin-bottom: 5px;
    }
}

.cta__text {
    font-weight: 500;
    @include fz(26, 14);
    line-height: 32px;
    color: #f3f9fd;
    margin-top: 0;
    @include mq(768) {
        order: 3;
    }
}

.cta__button {
    max-width: max-content;
}

.cta__tel {
    font-weight: 600;
    @include fz(50, 24);
    line-height: 114%;
    color: #ffffff;
    padding-left: 67px;
    background-image: url(../images/svg/cta-phone.svg);
    background-repeat: no-repeat;
    background-size: 42px 42px;
    background-position: left center;
    align-self: center;
    @include mq(768) {
        order: 4;
        background-size: contain;
    }
    @include mq(576) {
        padding-left: 40px;
    }
}
