.page-footer {
	background-color: #c0602a;
}

.page-footer__logo-img {
	object-fit: contain;

	@include mq(992) {
		width: 160px;
		height: auto;
	}
}

.page-footer__top {
	padding-top: 120px;
	padding-bottom: 150px;

	display: grid;
	grid-template-columns: auto repeat(3, 1fr);

	@include mq(1200) {
		padding-top: 80px;
		padding-bottom: 120px;
	}
	@include mq(992) {
		grid-template-columns: auto max-content;
		row-gap: 40px;

		padding-top: 60px;
		padding-bottom: 80px;
	}
	@include mq(576) {
		grid-template-columns: 1fr;

		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.page-footer__text {
	max-width: 260px;
	font-size: 16px;
	line-height: 138%;
	color: #edf0ff;

	margin-top: 20px;
	margin-bottom: 40px;

	@include mq(576) {
		max-width: 100%;
	}
}

.footer-socials {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;

	display: flex;
	column-gap: 15px;
}

.footer-socials__link {
	display: flex;
}

.page-footer__block {
	padding-right: 30px;

	&:not(:first-child) {
		padding-top: 26px;
	}
}

.page-footer__title {
	font-weight: 500;
	font-size: 15px;
	line-height: 147%;
	text-transform: uppercase;
	color: #edf0ff;

	margin-top: 0;
	margin-bottom: 20px;
}

.page-footer__list {
	padding-left: 0;
	margin: 0;
	list-style-type: none;

	& li {
		font-size: 15px;
		line-height: 147%;
		color: #edf0ff;
	}

	& a {
		color: inherit;

		&:hover,
		&:focus {
			opacity: 0.8;
		}
	}
}

.copyright {
	text-align: center;
	padding: 40px 20px;
	margin: 0;
	border-top: 1px solid #9f5109;

	font-size: 12px;
	line-height: 125%;

	color: #ffffff;

	@include mq(768) {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}
