.order-form {
	max-width: 600px;
	background-color: #f3f9fd;
	display: grid;
	padding: 36px 60px 60px;
	border-radius: 10px;
}

.order-form__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 167%;
	text-transform: uppercase;
	text-align: center;
	color: #614098;
}

.order-form__label {
	display: grid;
	margin-bottom: 16px;
}

.order-form__element {
	background: #ffffff;
	border-radius: 10px;
	padding: 17px 20px 18px;
	border: 1px solid #d8d8d8;

	&--textarea {
		height: 121px;
	}

	&:focus {
		border: 1px solid #f1821a;
		outline: none;
	}
}
