.order-form {
	max-width: 600px;
	background-color: #f3f9fd;
	display: grid;
	padding: 36px 60px 60px;
	border-radius: 10px;

	@include mq(1200) {
		padding: 24px 40px 40px;
	}
	@include mq(768) {
		padding: 24px;
		max-width: 100%;
	}
}

.order-form__title {
	font-weight: 500;
	@include fz(24, 18);
	line-height: 167%;
	text-transform: uppercase;
	text-align: center;
	color: #614098;

	margin-top: 0;
	margin-bottom: 32px;
}

.order-form__label {
	display: flex;
	margin-bottom: 16px;
}

.order-form__element {
	background: #ffffff;
	border-radius: 10px;
	padding: 17px 20px 18px;
	border: 1px solid #d8d8d8;
	color: #979797;
	@include fz(18, 16);
	line-height: 125%;
	width: 100%;

	@include mq(1200) {
		padding: 10px 16px;
	}
	@include mq(360) {
		max-width: 100%;
	}

	&--textarea {
		height: 121px;
	}

	&:focus {
		border: 1px solid #f1821a;
		outline: none;
	}
}
