.about-contacts {
	padding-top: 110px;
	padding-bottom: 110px;
	background-color: #f3f9fd;
	position: relative;

	@include mq(992) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	@include mq(768) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.about-contacts__img {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	object-fit: cover;

	@include mq(992) {
		display: none;
	}
}

.about-contacts__wrapper {
	width: 50%;
	margin-left: auto;
	padding-left: 70px;

	@include mq(992) {
		width: 100%;
		padding-left: 0;
	}
}

.about-contacts__title {
	text-align: left;
	margin-bottom: 60px;

	@include mq(768) {
		margin-bottom: 40px;
	}
}

.about-contacts__subtitle {
	color: #616161;
	font-size: 16px;
	line-height: 25px;

	margin-top: 0;
	margin-bottom: 30px;
}

.about-contact__item {
	color: #624696;
	margin-bottom: 60px;

	@include mq(768) {
		margin-bottom: 40px;
	}
}
