.about-doctors {
	padding-top: 100px;
	padding-bottom: 129px;
	background-color: #fff;

	@include mq(1200) {
		padding-top: 80px;
		padding-bottom: 100px;
	}
	@include mq(992) {
		padding-top: 60px;
		padding-bottom: 80px;
	}
	@include mq(768) {
		padding-top: 40px;
		padding-bottom: 60px;
	}
}

.about-doctors__title {
	margin-bottom: 16px;
}

.about-doctor__subtitle {
	color: #616161;
	text-align: center;
	font-size: 16px;
}

.doctors {
	padding-left: 0;
	margin-top: 30px;
	margin-bottom: 0;
	list-style-type: none;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 30px;
	row-gap: 40px;

	@include mq(992) {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
	}
	@include mq(480) {
		grid-template-columns: 100%;
	}
}

.doctor__link {
	display: grid;
	text-align: center;
}

.doctor__img {
	object-fit: cover;
	object-position: top center;
	border-radius: 10px;
	width: 100%;

	@include mq(576) {
		height: 300px;
	}
	@include mq(480) {
		height: 360px;
	}
}

.doctor__name {
	color: #624696;
	@include fz(26, 18);
	font-weight: 700;
	text-transform: uppercase;

	margin-top: 24px;
	margin-bottom: 10px;
}

.doctor__prof {
	color: #1b2948;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}
