.about-order {
	padding-top: 120px;
	padding-bottom: 140px;
	background-color: #f3f9fd;

	@include mq(1200) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@include mq(992) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	@include mq(768) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.about-order__form-wrapper {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;

	& form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 40px;

		@include mq(768) {
			column-gap: 20px;
		}
		@include mq(576) {
			grid-template-columns: 100%;
		}

		& :first-child,
		& :nth-child(6),
		& :nth-child(7) {
			grid-column: span 2;

			@include mq(576) {
				grid-column: span 1;
			}
		}
		& :nth-child(7) {
			justify-self: center;
		}
	}
}
