.about-research {
	background-color: #fff;

	padding-top: 140px;
	padding-bottom: 140px;

	@include mq(1200) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@include mq(992) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	@include mq(768) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.about-research__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 60px;
	margin: 0;

	@include mq(992) {
		grid-template-columns: 100%;
	}
}

.about-research__img {
	order: 1;
	border-radius: 50%;
	object-fit: cover;
	align-self: center;

	@include mq(992) {
		display: none;
	}
}

.about-research__title {
	text-align: left;
	margin-bottom: 20px;
}

.about-research__subtitle {
	color: #303a4c;
	font-size: 16px;
	line-height: 25px;

	margin-top: 0;
	margin-bottom: 40px;
}

.about-research__list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.about-research__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	padding-bottom: 30px;
	position: relative;

	& span {
		color: #624696;
		font-size: 17px;
		font-weight: 600;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 20px;
		border-radius: 15px;
		border: 1px solid #dbe6ee;
		background-color: #f3f9fd;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		height: 19px;
		border-radius: 15px;
		width: var(--width);
		background-color: var(--bg-color);
		z-index: 1;
	}
}
