.svgs-wrap {
    display: none;
}

.container {
    width: 100%;
    max-width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    @include mq(576, true) {
        max-width: 536px;
    }
    @include mq(768, true) {
        max-width: 728px;
    }
    @include mq(992, true) {
        max-width: 952px;
    }
    @include mq(1200, true) {
        max-width: 1200px;
    }
}

.page__body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #000;

    background-color: #fff5eb;

    &--no-scroll {
        overflow: hidden;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($color: #000000, $alpha: 0.35);
            z-index: 0;
        }
    }
}

.v-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

%btn {
    text-align: center;
    padding: 14px 40px;
    border-radius: 5px;

    font-weight: 600;
    @include fz(18, 14);
    line-height: 139%;
    text-transform: uppercase;

    display: inline-flex;

    @include mq(768) {
        padding: 10px 20px;
        max-width: 100%;
    }
}

.btn-orange {
    @extend %btn;

    background-color: #f1821a;
    border: 1px dashed #f1821a;
    color: #ffffff;
}

.btn-violet {
    @extend %btn;

    background-color: #624696;
    border: 1px dashed #624696;
    color: #ffffff;
}

.btn-transparent {
    @extend %btn;

    &--orange {
        border: 2px solid #f1821a;
        color: #f1821a;
    }
    &--violet {
        border: 2px solid #624696;
        color: #624696;
    }
}

.btn-white {
    @extend %btn;
    background-color: #fff;
    border: 1px solid #fff;
    color: #624696;
}

.section-title {
    font-weight: 500;
    @include fz(50, 32);
    line-height: 114%;

    text-align: center;
    text-transform: uppercase;

    margin-top: 0;

    &--orange {
        color: #f1821a;
    }
    &--violet {
        color: #624696;
    }
    &--white {
        color: #fff;
    }
}

.checked-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.checked-list__item {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    background-image: url(../images/svg/check.svg);
    background-repeat: no-repeat;
    background-position: left top;

    font-weight: 600;
    font-size: 15px;
    line-height: 147%;
    color: #624696;
}

.swiper-pagination {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 15px);
    gap: 13px;

    margin-top: 60px;

    &--white {
        & .swiper-pagination-bullet {
            border: 1px solid #fff;
        }
        & .swiper-pagination-bullet-active {
            background-color: #fff;
        }
    }
    &--orange {
        & .swiper-pagination-bullet {
            border: 1px solid #f1821a;
        }
        & .swiper-pagination-bullet-active {
            background-color: #f1821a;
        }
    }
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border-radius: 50%;

    cursor: pointer;
}

.contact-wrapper {
    padding-left: 80px;
    min-height: 60px;
    display: grid;
    align-items: center;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;

    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 500;
    font-size: 21px;
    line-height: 26px;

    &--white {
        color: #fff;
    }

    &--tel {
        background-image: url(../images/svg/icon-phone.svg);
    }

    &--email {
        background-image: url(../images/svg/icon-envelope.svg);
    }

    & a {
        color: inherit;
    }
}

.intro {
    padding-top: 60px;
    padding-bottom: 116px;
}

.breadcrumbs {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 25px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.breadcrumbs__item {
    font-weight: 500;
    font-size: 15px;
    line-height: 147%;
    color: #616161;

    &:last-child {
        font-weight: 600;
        color: #624696;
    }

    &:not(:last-child) {
        position: relative;

        &::after {
            content: "";
            background-image: url(../images/svg/dot.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            position: absolute;
            left: calc(100% + 12px);
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
        }
    }
}

.breadcrumbs__link {
    color: inherit;
}

.page__title {
    font-weight: 500;
    @include fz(57, 32);
    line-height: 132%;
    text-align: center;
    text-transform: uppercase;
    color: #624696;
    margin-top: 0;
    margin-bottom: 0;
}

.link-w-arrow {
    color: #f1821a;
    transition: color 0.5s;

    &:hover {
        color: #624696;
    }

    display: inline-flex;
    align-items: center;

    &::after {
        content: "";
        width: 18px;
        height: 18px;
        background-image: url(../images/svg/arrow-right-orange.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 10px;
    }

    &:hover {
        &::after {
            background-image: url(../images/svg/arrow-right-violet.svg);
        }
    }
}
