@use "sass:math";

// Подключение шрифтов из папки "./src/fonts" =======================================================================================================================
@import "config/fonts";

// Подключение sass функций и миксинов =======================================================================================================================
@import "config/functions";
@import "config/mixins";

// Подключение переменных =======================================================================================================================
@import "config/vars";

// Обнуление =======================================================================================================================
@import "config/reset";

// Общие параметры, шаблоны(заготовки) и вспомагательные классы =======================================================================================================================
@import "config/base";

// Подключение стилей отдельных блоков и секций =======================================================================================================================
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/effect-fade/effect-fade.scss";

@import "layout/header";

// HOME PAGE
@import "layout/home/intro.scss";
@import "layout/home/services.scss";
@import "layout/home/about.scss";
@import "layout/home/programs.scss";
@import "layout/home/diagnostics.scss";
@import "layout/home/cosmetolog-procedures.scss";
@import "layout/home/reviews.scss";
@import "layout/home/order.scss";
@import "layout/home/contacts.scss";

// SERVICES
@import "./layout/services/banner.scss";
@import "./layout/services/item.scss";
@import "./layout/cta.scss";
@import "./layout/services/promo.scss";

//FAQ
@import "./layout/faq/item.scss";
@import "./layout/faq/consultation.scss";

//SINGLE-SERVICE
@import "./layout/single-service/about-service.scss";
@import "./layout/single-service/doctor-service.scss";
@import "./layout/single-service/price-service.scss";
@import "./layout/single-service/reviews-service.scss";
@import "./layout/single-service/advantages-service.scss";
@import "./layout/single-service/more-services.scss";
@import "./layout/single-service/question-service.scss";

//404
@import "./layout/404/404.scss";

// ABOUT
@import "./layout/about/experience";
@import "./layout/about/video";
@import "./layout/about/doctors";
@import "./layout/about/services";
@import "./layout/about/contacts";
@import "./layout/about/research";
@import "./layout/about/order-form";

// SALE
@import "./layout/sale/list";

// PRICES
@import "./layout/prices/list";
@import "./layout/prices/excellence";

// SINGLE SALE
@import "./layout/single-sale/content";
@import "./layout/single-sale/doctor";
@import "./layout/single-sale/last-posts";

// ORDER FORM
@import "layout/order-form";

//CONTACTS
@import "layout/contacts/contacts.scss";
@import "layout/contacts/map.scss";

// pagination
@import "layout/pagination";

@import "layout/footer";
