.services-banner {
	background-image: url(../images/services-banner.jpg);
	background-size: cover;
	background-position: center center;
	padding-top: 226px;
	padding-bottom: 98px;
	text-align: center;

	@include mq(1200) {
		padding-top: 120px;
		padding-bottom: 70px;
	}
	@include mq(992) {
		padding-top: 95px;
		padding-bottom: 50px;
		background-position: bottom center;
	}
}

.services-banner__title {
	font-weight: 600;
	@include fz(40, 18);
	line-height: 120%;
	text-transform: uppercase;
	color: #ffffff;
	max-width: 607px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 16px;
}

.services-banner__text {
	font-weight: 600;
	font-size: 15px;
	line-height: 147%;
	color: #ffffff;
	max-width: 532px;
	margin: 0 auto;
}

.btn-white {
	margin-top: 25px;
}
