.services-item {
    position: relative;

    &:nth-of-type(even) {
        & .services-item__wrapper {
            margin-left: auto;
            padding-left: 60px;
            @include mq(1200) {
                padding-left: 40px;
            }
            @include mq(992) {
                padding-left: 25px;
            }
        }
        & .services-item__image {
            left: 0;
        }
    }

    &:nth-of-type(odd) {
        & .services-item__wrapper {
            padding-right: 60px;
            @include mq(1200) {
                padding-right: 40px;
            }
            @include mq(992) {
                padding-right: 25px;
            }
        }
        & .services-item__image {
            right: 0;
        }
    }
    @include mq(768) {
        display: grid;
    }
}

.services-item__wrapper {
    width: 50%;
    padding-top: 170px;
    padding-bottom: 171px;
    @include mq(1200) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include mq(992) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include mq(768) {
        width: 100%;
    }
}

.services-item__title {
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: left;
}

.services-item__text {
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: 400;
    @include fz(17, 14);
    line-height: 147%;
    color: #303a4c;
}

.services-item__link {
    margin-top: 40px;
    @include fz(17, 14);
    line-height: 21px;
    letter-spacing: 0.5px;
    @include mq(1200) {
        margin-top: 25px;
    }
}

.services-item__image {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    @include mq(768) {
        width: 100%;
        position: static;
    }
}

.service-proposals {
    display: flex;
    gap: 20px;
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 0;
    list-style: none;
}

.service-proposals__item {
    max-width: 220px;
    padding-left: 65px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: left top;
    &--medicine {
        background-image: url(../images/svg/medicine-icon.svg);
    }
    &--surgery {
        background-image: url(../images/svg/surgery-icon.svg);
    }
    @include mq(1200) {
        background-size: 45px 45px;
        padding-left: 55px;
    }
}

.service-proposals__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 136%;
    color: #624696;
    margin-top: 0;
    margin-bottom: 5px;
}

.service-proposals__description {
    font-size: 12px;
    line-height: 150%;
    color: #1b2948;
    margin-top: 0;
    margin-bottom: 0;
}

.services-item__bottom-text {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 150%;
    color: #1b2948;
    max-width: 500px;
    @include mq(1200) {
        margin-top: 25px;
    }
}
